{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>link list</title>
        <link rel="stylesheet" href="{% static 'linktracker/styles.css' %}">
    </head>

    <body>
        <header>

        <nav>

            <!-- Centered Search Bar -->


            <ul class="nav-links">
                <li>
                    <a href="#">
                        logout
                    </a>
                </li>
            </ul>


        </nav>            
            <h1>Add new link</h1>
        </header>

        

    </body>

</html>

