{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Link</title>
  <link rel="stylesheet" href="{% static 'linktracker/styles.css' %}">
</head>

<body>
  {% if submitted %}
    <br>
    <center>
      <p><strong>Link for {{link_obj.name}} Was Updated Successfully!</strong></p>

      <br><br>

      <a href="{% url 'linktracker:list_links' %}">
        <button type="button" class="btn btn-outline">Back</button>
      </a>
    </center>

  {% else %}

    <header>
      <nav class="navbar">
        <form method="post" action="#">
          {% csrf_token %}
          <button class="btn btn-outline" type="submit">Logout</button>
        </form>
      </nav>
    </header>

    <main class="page">
      <h1>Update {{ link_obj.name }}</h1>

      <form method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
          <div>
            {{ form.non_field_errors }}
          </div>
        {% endif %}

        <table>
          <tr>
            <th style="width: 30%;">Field</th>
            <th>Value</th>
          </tr>

          <tr>
            <td><label for="{{ form.name.id_for_label }}">Name</label></td>
            <td>
              {{ form.name }}
              <div>{{ form.name.errors }}</div>
            </td>
          </tr>

          <tr>
            <td><label for="{{ form.link_url.id_for_label }}">URL</label></td>
            <td>
              {{ form.link_url }}
              <div>{{ form.link_url.errors }}</div>
            </td>
          </tr>

          <tr>
            <td><label for="{{ form.description.id_for_label }}">Description</label></td>
            <td>
              {{ form.description }}
              <div>{{ form.description.errors }}</div>
            </td>
          </tr>
        </table>

        <br>

        <button type="submit" class="btn">Submit</button>
        <a href="{% url 'linktracker:list_links' %}">
          <button type="button" class="btn btn-outline">Cancel</button>
        </a>
      </form>
    </main>

  {% endif %}
</body>
</html>
